/*Fonts import*/
@import url('https://fonts.googleapis.com/css?family=Rubik');

/*Overriding browser styles*/
*{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    border: 0px;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

body{
    overflow: hidden;
    font-family: 'Rubik', sans-serif;
}

/*General layout of the website*/
#body-wrapper{
    height: 100%;
    width: 100%;
    overflow: hidden;
    /*background-color: #C50138;*/
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

header{
    width: 100%;
    height:10vh;
    display: flex;
    align-items: center;
}

header h1 {
    margin-left: 3vw;
    z-index: 999;
}

header h1:hover {
    cursor: pointer;
}

#main{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative; !important
}

footer{
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
}

footer h2 {
    margin-left: 3vw;
    z-index: 999;
    cursor: pointer;
}

/*Styling of header section*/

#hamburger-wrapper{
    height: 50px;
    width: 50px;
    margin-right: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*Styling of footer section*/
.ft-name{
    position: absolute;
    opacity: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.ft-name:first-child {
    opacity: 1;
}

#controls{
    height: 100%;
    display: flex;
    padding-right: 45px;
}

.ctrl{
    height: 35px;
    width: 35px;
}

.ctrl-left{
    margin-right: 20px;
}

/*Main section styling*/
#icon-thumbnails{
    position: absolute;
    left: 0px;
    height: 100%;
    width: 65px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.ico-thmb-wrapper{
    width: 30px;
    display: flex;
    height: 60%;
    padding: 120px 0px;
}

#showcasing-wrapper{
    position: absolute;
    left: calc((100vw - 65.2vh) / 2);
    top: calc((100% - 65.2vh) / 2);
    z-index: 999;
    overflow: hidden;
    height: 65.2vh;
    width: 65.2vh;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.showcase-item {
    position: absolute;
    left: 0;
    top: 100%;
    background-size: cover;
    height: 65.2vh;
    width: 65.2vh;
    z-index: 999;
    opacity: 0;
    -webkit-transition: top .5s ease-in-out, opacity .1s ease-in-out 0.1s;
    -moz-transition: top .5s ease-in-out, opacity .1s ease-in-out 0.1s;
    -o-transition: top .5s ease-in-out, opacity .1s ease-in-out 0.1s;
    transition: top .5s ease-in-out, opacity .1s ease-in-out 0.1s;
}
.showcase-item:first-child {
    top: 0;
}
.showcase-item:last-child {
    top: -100%;
}
#profshow-1 {
    background-image: url('../img/a1.png');
    opacity: 1;
}
#profshow-2 {
    background-image: url('../img/a2.png');
}
#profshow-3 {
    background-image: url('../img/a3.png');
}
#profshow-4 {
    background-image: url('../img/a1.png');
}
#profshow-5 {
    background-image: url('../img/a2.png');
}


#vinyl {
    display: block;
    background: url(../img/vinyl.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 178vw;
    background-size: contain;
    top: 50%;
    left: 50%;
    margin: -50vh -75vh;
    z-index: 0;
    position: absolute;
    z-index: 0;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
#showcase-shadow{
    display: block;
    position: absolute;
    background: url(../img/mockup.png);
    background-repeat: no-repeat;
    height: 100vh;
    width: 178vh;
    background-size: cover;
    top: 50%;
    left: 50%;
    margin: -50.1vh -88.9vh;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.showcase-shadow-mobile {
    display: none;
}
.showcase-item-mobile {
    display: none;
}
#buttons {
    display: none;
}

.navDesktop {
    display: block;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.thumbIcons {
    height: 100%;
    margin-left: 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
}
.thumbnail {
    width: 30px;
    height: 3.5px;
    background: #fff;
    margin-bottom: 2.5vh;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out, background 0s ease-in-out;
    -moz-transition: all .2s ease-in-out, background 0s ease-in-out;
    -o-transition: all .2s ease-in-out, background 0s ease-in-out;
    transition: all .2s ease-in-out, background 0s ease-in-out;
}
.thumbnail:last-child {
    margin-bottom: 0;
}
.thumbIcons:hover .thumbnail {
    height: 30px;
    margin-bottom: 0;
    padding-bottom: 2.5vh;
    box-sizing: content-box;
    width: 300px;
}
.thumbIcons:hover .thumbnail:last-child {
    padding-bottom: 0;
}
.thumbnail:first-child {
    margin-left: 20px;
}
.thumbnail:hover {
    padding-left: 20px;
    background: transparent;
}
.thumbIcons:hover .thumbnail {
    background: transparent;
}
.thumbIcons:hover .thumbnail:first-child {
    margin-left: 0px;   
    padding-left: 20px;
}
.thumbImg {
    display: flex;
    align-items: center;
    height: 0;
    width: 0;
    -webkit-transition: all .1s ease-in-out, background 0s ease-in-out;
    -moz-transition: all .1s ease-in-out, background 0s ease-in-out;
    -o-transition: all .1s ease-in-out, background 0s ease-in-out;
    transition: all .1s ease-in-out, background 0s ease-in-out;
}
.thumbImg span {
    display: none;
    padding-left: 33px;
}
.thumbImg {
    background-size: 30px 30px;
}
.thumbIcons:hover .thumbImg {
    background-size: 30px 30px;
    background-repeat: no-repeat;
    height: 30px;
    width: 300px;
}
.thumbIcons:hover .thumbImg span {
    display: block;
    opacity: 0;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.thumbnail:hover .thumbImg span {
    opacity: 1;
}
#thumb1 {
    background-image: url('../img/a1.png');
}
#thumb2 {
    background-image: url('../img/a2.png');
}
#thumb3 {
    background-image: url('../img/a3.png');
}
#thumb4 {
    background-image: url('../img/a1.png');
}
#thumb5 {
    background-image: url('../img/a2.png');
}

@media (max-aspect-ratio: 1/1) {
  #vinyl {
    display: none;
  }
}


@media (max-device-width: 480px) {
    footer {
        margin: 0;
        justify-content: center;
        align-items: top;
    }
    #vinyl {
        display: none;    
    }
    #showcasing-wrapper {
        display: none;
    }
    .showcase-item-mobile {
        display: block;
        width: 60vw;
        height: 60vw;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -30vw;
        z-index: 99;
        overflow: visible;
        background-size: cover;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    #profshow-1 {
        z-index: 1;
    }
    #showcase-shadow {
        display: none;
    }
    #main {
        height: 70vh;
        z-index: 999999;
    }
    #buttons {
        display: block;
        height: 10vh;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    header {
        margin: 0;
        text-align: center;
        justify-content: center;
    }
    header h1 {
        margin: 0;
    }
    #main .navDesktop {
        display: none;
    }
}